image boot.vfat {
	vfat {
		extraargs = "-F 32 -n REGLINUX"
		@files
	}
	size = 1G
}

image userdata.ext4 {
	ext4 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "256M"
	# include files from TARGET_DIR/userdata
	mountpoint = "/userdata"
}

image reglinux.img {
	hdimage {
		#align = "1M"
		partition-table-type = "hybrid"
	}

	partition spl {
		in-partition-table = "no"
		image = "../../uboot-bananapi-f3/FSBL.bin"
		#partition-type-uuid = L
		offset = 262144
		size = 262144
	}

	partition env {
		in-partition-table = "no"
		image = "../../uboot-bananapi-f3/env.img"
		#partition-type-uuid = L
		offset = 524288
		size = 131072
	}

	partition payload {
		in-partition-table = "no"
		image = "../../uboot-bananapi-f3/fw_dynamic.itb"
		#partition-type-uuid = L
		offset = 655360
		size = 393216
	}

        partition uboot {
		in-partition-table = "no"
                image = "../../uboot-bananapi-f3/u-boot.itb"
                #partition-type-uuid = L
                offset = 1M
                size = 2M
        }

	partition boot {
		bootable = "true"
		partition-type = 0xc
		# XBOOTLDR partition type (ea00) GUID
		partition-type-uuid = BC13C2FF-59E6-4262-A352-B275FD6F7172
		image = "boot.vfat"
		offset = 100M
	}

	partition userdata {
		partition-type = 0x83
		image = "userdata.ext4"
	}
}

