CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
# CONFIG_LOGO is not set

# required for some kernel includes
CONFIG_CHR_DEV_SG=m

# required for evmapy
CONFIG_INPUT_UINPUT=y

# required for batocera squashfs
CONFIG_NLS_ISO8859_1=y
CONFIG_SQUASHFS=y
CONFIG_OVERLAY_FS=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_BLK_DEV_INITRD=y

# Required for analogue joysticks on WX8 based consoles
CONFIG_JOYSTICK_WX8=y

