/*
 * (C) Copyright 2017 Rockchip Electronics Co., Ltd
 *
 * SPDX-License-Identifier:     GPL-2.0+
 */

#include <dt-bindings/display/drm_mipi_dsi.h>

/dts-v1/;

#include "rk3128.dtsi"

/ {
	model = "Game Simulator Board";
	compatible = "rockchip,rk3128-gamesim", "rockchip,rk3128";

	chosen {
		stdout-path = &uart0;
		bootargs = "earlycon=uart8250,mmio32,0x20060000 rootwait console=ttyFIQ0,115200n8 swiotlb=1 root=PARTUUID=fd800c6c-2fdb-4502-82cb-e61f66b9a221";
	};

	vcc_sys: vcc-sys {	// from USB OTG or from battery
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc_io: vcc-io {
		compatible = "regulator-fixed";
		regulator-name = "vcc_io";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc_sys>;
	};

	vdd_arm: vdd-arm {
		compatible = "pwm-regulator";
		pwms = <&pwm1 0 5000 0>;
		regulator-name = "vdd_arm";
		regulator-min-microvolt = <880000>;
		regulator-max-microvolt = <1380000>;
		regulator-init-microvolt = <1100000>;
		regulator-early-min-microvolt = <1100000>;
		regulator-always-on;
		regulator-boot-on;
		pwm-supply = <&vcc_sys>;
		pwm-dutycycle-range = <100 0>;
		pwm-dutycycle-unit = <100>;
	};

	vdd_log: vdd-log {
		compatible = "pwm-regulator";
		pwms = <&pwm2 0 5000 0>;
		regulator-name = "vdd_log";
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <1400000>;
		regulator-init-microvolt = <1100000>;
		regulator-early-min-microvolt = <1100000>;
		regulator-always-on;
		regulator-boot-on;
		pwm-supply = <&vcc_sys>;
		pwm-dutycycle-range = <100 0>;
		pwm-dutycycle-unit = <100>;
	};

	fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <0>;
		rockchip,wake-irq = <159>;
		pinctrl-0 = <&uart0_xfer>;
		pinctrl-names = "default";
		rockchip,irq-mode-enable = <1>;
		rockchip,baudrate = <115200>;
		status = "okay";
	};

	reserved-memory {
		#address-cells = <0x01>;
		#size-cells = <0x01>;
		ranges;

		drm_logo: drm-logo@00000000 {
			compatible = "rockchip,drm-logo";
			reg = <0x00 0x00>;
		};
	};

	sound: sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <0x100>;
		simple-audio-card,name = "rockchip,rk312x-codec";
		simple-audio-card,routing = "Headphone Jack", "HiFi Playback";
		simple-audio-card,widgets = "Headphone", "Headphone Jack";

		simple-audio-card,dai-link@0 {
			format = "i2s";

			codec {
				sound-dai = <&codec>;
			};

			cpu {
				sound-dai = <&i2s_8ch>;
			};
		};

		simple-audio-card,dai-link@1 {
			format = "i2s";

			codec {
				sound-dai = <&hdmi>;
			};

			cpu {
				sound-dai = <&i2s_8ch>;
			};
		};
	};

	power_supply: power-supply {
		compatible = "wx8-charger";

		pinctrl-0 = <&charging_gpio &dc_det_gpio &usb2sys_gpio &boost2usb_gpio>;
		pinctrl-names = "default";

		dc_det_gpio = <&gpio0 0x11 GPIO_ACTIVE_HIGH>;	// input, works only when usb2sys_gpio
		charging_gpio = <&gpio3 0x1a GPIO_ACTIVE_LOW>;	// input, /CHRG output from TP4056

		// both output cannot be active in same time (eg. LOW-LOW or HIGH-HIGH is allowed), beaware loop boost->usb->sys->boost
		usb2sys_gpio = <&gpio3 0x15 GPIO_ACTIVE_LOW>;	// output, power switch "vcc_usb" -> "vcc_sys" & "vcc_charger"
		boost2usb_gpio = <&gpio1 0x09 GPIO_ACTIVE_HIGH>;// output, power switch "vcc_booster" -> vcc_usb"

		io-channels = <&saradc 2>;
		ref_voltage = <3300>; 		// mV, from saradc -> vref-supply -> ?
		voltage_divider = <200 200>; 	// adc resistor divider

		extcon = <&u2phy>;
	};
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&cpu0_opp_table {
	opp-1008000000 {
		clock-latency-ns = <40000>;
		opp-hz = /bits/ 64 <1008000000>;
		opp-microvolt = <1200000 1200000 1380000>;
		opp-microvolt-L0 = <1200000 1200000 1380000>;
		opp-microvolt-L1 = <1175000 1175000 1380000>;
		opp-microvolt-L2 = <1225000 1225000 1380000>;
	};

	opp-1200000000 {
		clock-latency-ns = <40000>;
		opp-hz = /bits/ 64 <1200000000>;
		opp-microvolt = <1325000 1325000 1380000>;
		opp-microvolt-L0 = <1325000 1325000 1380000>;
		opp-microvolt-L1 = <1300000 1300000 1380000>;
		opp-microvolt-L2 = <1375000 1375000 1380000>;
	};

	opp-216000000 {
		clock-latency-ns = <40000>;
		opp-hz = /bits/ 64 <216000000>;
		opp-microvolt = <925000 925000 1380000>;
		opp-microvolt-L0 = <925000 925000 1380000>;
		opp-microvolt-L1 = <925000 925000 1380000>;
		opp-microvolt-L2 = <950000 950000 1380000>;
	};

	opp-408000000 {
		clock-latency-ns = <40000>;
		opp-hz = /bits/ 64 <408000000>;
		opp-microvolt = <950000 950000 1380000>;
		opp-microvolt-L0 = <950000 950000 1380000>;
		opp-microvolt-L1 = <925000 925000 1380000>;
		opp-microvolt-L2 = <950000 950000 1380000>;
	};

	opp-600000000 {
		clock-latency-ns = <40000>;
		opp-hz = /bits/ 64 <600000000>;
		opp-microvolt = <975000 975000 1380000>;
		opp-microvolt-L0 = <975000 975000 1380000>;
		opp-microvolt-L1 = <950000 950000 1380000>;
		opp-microvolt-L2 = <975000 975000 1380000>;
	};

	opp-696000000 {
		clock-latency-ns = <40000>;
		opp-hz = /bits/ 64 <696000000>;
		opp-microvolt = <1000000 1000000 1380000>;
		opp-microvolt-L0 = <1000000 1000000 1380000>;
		opp-microvolt-L1 = <975000 975000 1380000>;
		opp-microvolt-L2 = <1050000 1050000 1380000>;
	};

	opp-816000000 {
		clock-latency-ns = <40000>;
		opp-hz = /bits/ 64 <816000000>;
		opp-microvolt = <1075000 1075000 1380000>;
		opp-microvolt-L0 = <1075000 1075000 1380000>;
		opp-microvolt-L1 = <1050000 1050000 1380000>;
		opp-microvolt-L2 = <1100000 1100000 1380000>;
		opp-suspend;
	};
};

&dfi {
	status = "okay";
};

&dmc {
	status = "okay";
	center-supply = <&vdd_log>;
	vop-dclk-mode = <1>;
};

&soc_thermal {
	trips {
		soc_crit: soc-crit {
			hysteresis = <2000>;
			temperature = <115000>;
			type = "critical";
		};
	};
};

&tsadc {
	status = "okay";
};

&gpu {
	status = "okay";
	mali-supply = <&vdd_log>;
};

&rng {
	status = "okay";
};

&hevc {
	status = "okay";
};

&hevc_mmu {
	status = "okay";
};

&vpu {
	status = "okay";
};

&vpu_mmu {
	status = "okay";
};

&vpu_combo {
	status = "okay";
};

&rga  {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&hdmi {
	status = "okay";
};

&usb_otg {
	status = "okay";
	vbus-supply = <&vcc_sys>;
};

&usb_host_ehci {
	status = "okay";
};

&usb_host_ohci {
	status = "okay";
};

&i2s_8ch  {
	status = "okay";
	#sound-dai-cells = <0>;
};

&sfc {
	status = "okay";
};

&sdmmc {
	status = "okay";

	supports-sd;
	broken-cd;

	card-detect-delay = <200>;
	ignore-pm-notify;
	keep-power-in-suspend;
	vmmc-supply = <&vcc_io>;
	vqmmc-supply = <&vcc_io>;

	cd-gpios = <&gpio1 0x11 0x00>;

	cap-mmc-highspeed;
	cap-sd-highspeed;

	clock-frequency = <37500000>;
	max-frequency = <37500000>;
	num-slots = <1>;
};

&u2phy {
	status = "okay";
};

&u2phy_host {
	status = "okay";
};

&u2phy_otg {
	status = "okay";
};

&codec {
	status = "okay";

	#sound-dai-cells = <0>;
	capture_volume = <0x1a>;
	codec_hp_det = <1>;
	gpio_debug = <1>;

	hp-mute-delay = <0x05>;
	hp_volume = <0x19>;

	spk-ctl-gpios = <&gpio1 0x03 0x00>;
	spk-mute-delay = <0x05>;
	spk_volume = <0x19>;

	rk312x_for_mid = <0>;
	is_rk3128 = <1>;
};

&video_phy {
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vcc_io>;
};

&i2c0 {
	status = "okay";

	clock-frequency = <400000>;

	i2c-scl-falling-time-ns = <0x0b>;
	i2c-scl-rising-time-ns = <0x109>;

	joysticks: i2cjoy@4c {
		compatible = "wx8-joysticks";
		reg = <0x4c>;
	};
};


&pinctrl {
	lcdc {
		lcd_enable: lcd-enable {
			rockchip,pins = <RK_GPIO1 RK_PB4 0 &pcfg_pull_none>;
		};

		lcd_reset: lcd-reset {
			rockchip,pins = <RK_GPIO0 RK_PD0 0 &pcfg_pull_none>;
		};
	};

	buttons {

		game_keys: game-keys {
			rockchip,pins = <RK_GPIO1 0x04 0x00 &pcfg_pull_default
					 RK_GPIO1 0x05 0x00 &pcfg_pull_default
					 RK_GPIO0 0x08 0x00 &pcfg_pull_default
					 RK_GPIO0 0x09 0x00 &pcfg_pull_default
					 RK_GPIO0 0x0b 0x00 &pcfg_pull_default
					 RK_GPIO0 0x0c 0x00 &pcfg_pull_default
					 RK_GPIO0 0x0d 0x00 &pcfg_pull_default
					 RK_GPIO0 0x0e 0x00 &pcfg_pull_default
					 RK_GPIO1 0x08 0x00 &pcfg_pull_default
					 RK_GPIO1 0x0a 0x00 &pcfg_pull_default
					 RK_GPIO1 0x0b 0x00 &pcfg_pull_default
					 RK_GPIO3 0x16 0x00 &pcfg_pull_default
					 RK_GPIO3 0x17 0x00 &pcfg_pull_default
					 RK_GPIO3 0x1b 0x00 &pcfg_pull_default
					 RK_GPIO1 0x01 0x00 &pcfg_pull_default
					 RK_GPIO1 0x02 0x00 &pcfg_pull_default
					 >;
		};
	};

	power {
		charging_gpio: charging-gpio {
			rockchip,pins = <RK_GPIO3 0x1a 0x00 &pcfg_pull_default>;
		};

		usb2sys_gpio: usb2sys-gpio {
			rockchip,pins = <RK_GPIO3 0x15 0x00 &pcfg_pull_default>;
		};

		boost2usb_gpio: boost2usb-gpio {
			rockchip,pins = <RK_GPIO1 0x09 0x00 &pcfg_pull_default>;
		};

		dc_det_gpio: dc-det-gpio {
			rockchip,pins = <RK_GPIO0 0x11 0x00 &pcfg_pull_default>;
		};
	};

	unresolved {
		// now over /sys/class/gpio/
		boosters_enable: boosters-enable {
			rockchip,pins = <RK_GPIO2 0x1d 0x00 &pcfg_pull_default>;
		};

		// unknown driver compatible = "rockchip,rk3126-usb-control"
		host_drv_gpio: host-drv-gpio {
			rockchip,pins = <RK_GPIO3 0x14 0x00 &pcfg_pull_default>;
		};

		// unknown driver function in original driver compatible = "rk30-adc-battery"
		chg_en: chg-en {
			rockchip,pins = <RK_GPIO3 0x11 0x00 &pcfg_pull_default>;
		};

		// unknown driver function in original driver compatible = "rk30-adc-battery"
		led_power_gpio: led-power-gpio {
			rockchip,pins = <RK_GPIO1 0x07 0x00 &pcfg_pull_default>;
		};
	};
};
