[LinuxLoader]
Debug = false
Target = "Linux"
MassStorageLUN = 0
DefaultVolUp = "default"
UsbHostMode = false
HypUartEnable = false
DisableDisplayHW = true

[Linux]
# Accept both gzipped and non-gzipped kernel images
Image = "boot/linux"
initrd = "boot/initrd.lz4"
devicetree = "boot/sm8550-ayaneo-ps.dtb"
cmdline = "clk_ignore_unused pd_ignore_unused quiet rw rootwait label=REGLINUX"
