image boot.vfat {
	vfat {
		extraargs = "-F 32 -n REGLINUX"
		@files
	}
	size = 2G
}

image userdata.ext4 {
	ext4 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "256M"
	# include files from TARGET_DIR/userdata
	mountpoint = "/userdata"
}

image reglinux.img {
	hdimage {
		partition-table-type = "gpt"
	}

	/*partition part_efi {
		partition-type-uuid = U
		image = "../boot.efi"
		bootable = "true"
	}*/

	partition boot {
		partition-type-uuid = F
		image = "boot.vfat"
		bootable = "true"
		offset = 32K
	}

	partition userdata {
		partition-type-uuid = L
		image = "userdata.ext4"
	}
}
