image boot.vfat {
	vfat {
		extraargs = "-F 32 -n REGLINUX"
		@files
	}
	size = 2G
}
image userdata.ext4 {
	ext4 {
		label = "SHARE"
		use-mke2fs = "true"
		extraargs = "-m 0"
	}
	size = "256M"
	# include files from TARGET_DIR/userdata
	mountpoint = "/userdata"
}

image reglinux.img {
	hdimage {
		align = "1M"
	}

	# U-Boot SPL + U-Boot at raw offset (Cyclone V SoC boot ROM reads from 0xA2 partition)
	partition uboot {
		partition-type = 0xa2
		image = "u-boot-with-spl.sfp"
		offset = "1M"
		size = "1M"
	}

	partition boot {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
		offset = "4M"
	}

	partition userdata {
		partition-type = 0x83
		image = "userdata.ext4"
	}
}
