#!/bin/dash

NAME=thd
PIDFILE="/var/run/$NAME.pid"
DAEMON="/usr/sbin/$NAME"

[ -x "$DAEMON" ] || exit 1

start() {
    [ -r /etc/default/triggerhappy ] && . /etc/default/triggerhappy
    . /etc/profile.d/xdg.sh
    . /etc/profile.d/dbus.sh

    CONFPATH="/etc/triggerhappy/triggers.d/"
    if [ "$(/usr/bin/regmsg systemconf getconfigkey system.multimediakeys.enabled)" = "0" ]; then
        CONFFILE="multimedia_keys_disabled.conf"
    else
        CONFFILE="multimedia_keys.conf"
        USER_CONFFILE="/userdata/system/configs/$CONFFILE"
        if [ -e "$USER_CONFFILE" ]; then
            CONFPATH="/userdata/system/configs/"
        else
            # hack for odroidgoa models
            if [ -r /sys/firmware/devicetree/base/model ]; then
                BOARD_MODEL=$(tr -cd '[:alnum:]' < /sys/firmware/devicetree/base/model)
            elif [ -r /sys/devices/virtual/dmi/id/board_name ]; then
                BOARD_MODEL=$(tr -cd '[:alnum:]' < /sys/devices/virtual/dmi/id/board_name)
            fi
            if [ -n "$BOARD_MODEL" ]; then
                BOARD_CONFFILE="multimedia_keys_${BOARD_MODEL}.conf"
                [ -e "${CONFPATH}${BOARD_CONFFILE}" ] && CONFFILE="$BOARD_CONFFILE"
            fi
        fi
    fi

    DAEMON_ARGS="--daemon --triggers ${CONFPATH}${CONFFILE} --socket /var/run/thd.socket --pidfile $PIDFILE /dev/input/event*"

    printf "Starting %s: " "$NAME"
    if start-stop-daemon --start --quiet --pidfile "$PIDFILE" --exec "$DAEMON" -- $DAEMON_ARGS; then
        echo "OK"
    else
        echo "FAIL"
    fi
}

stop() {
    printf "Stopping %s: " "$NAME"
    if start-stop-daemon --stop --quiet --retry 3 --remove-pidfile --pidfile "$PIDFILE"; then
        echo "OK"
    else
        echo "FAIL"
    fi
}

case "$1" in
    start) start ;;
    stop)  stop  ;;
    restart)
        stop
        sleep 1
        start
        ;;
    *)
        echo "Usage: $0 {start|stop|restart}"
        exit 1
        ;;
esac