config BR2_PACKAGE_REGLINUX_NETWORK
	bool "REG-Linux networking stack"

	# connman
	select BR2_PACKAGE_CONNMAN		# network manager
	select BR2_PACKAGE_CONNMAN_ETHERNET
	select BR2_PACKAGE_CONNMAN_BLUETOOTH
	select BR2_PACKAGE_CONNMAN_LOOPBACK

	# wireless tools
	select BR2_PACKAGE_IWD				# use IWS instead of wpa_supplicant
	select BR2_PACKAGE_WIRELESS_REGDB		# wireless regulatory DB
	select BR2_PACKAGE_IW				# wireless country config for regulatoryDB
	select BR2_PACKAGE_WIRELESS_TOOLS		# wireless tools
	select BR2_PACKAGE_WIRELESS_TOOLS_LIB		# wireless tools
	select BR2_PACKAGE_LIBOPENSSL_BIN		# required to encode the wifi password

	# network services
	select BR2_PACKAGE_DROPBEAR			# ssh server
	select BR2_PACKAGE_NTP				# ntp time sync protocol
	select BR2_PACKAGE_REGLINUX_SAMBA		# samba stack based on ksmbd
	select BR2_PACKAGE_RSYNC			# rsync to copy files over ssh
	select BR2_PACKAGE_WSDD_NATIVE			# service discovery on local network (windows network neighborhood)
	#nope select BR2_PACKAGE_OPENVPN		# VPN support

	# curl / ssl / wget
	select BR2_PACKAGE_CIFS_UTILS			# required for boot mounts
	select BR2_PACKAGE_NGHTTP2			# required for curl http2
	select BR2_PACKAGE_CA_CERTIFICATES		# Enable ca-certificates
	select BR2_PACKAGE_OPENSSL			# Enable SSL/TLS support
	select BR2_PACKAGE_LIBCURL			# download tools
	select BR2_PACKAGE_LIBCURL_CURL			# download tools
	select BR2_PACKAGE_WGET				# download tools

	# mDNS protocol
	select BR2_PACKAGE_AVAHI			# service discovery on local network
	select BR2_PACKAGE_AVAHI_DAEMON			# mDNS daemon
	select BR2_PACKAGE_AVAHI_LIBDNSSD_COMPATIBILITY	# bonjour compatibility layer

	# Ethernet tool
	select BR2_PACKAGE_ETHTOOL

	# cloud services
	select BR2_PACKAGE_SYNCTHING			if !BR2_PACKAGE_SYSTEM_VIRTUAL_TARGET && !BR2_PACKAGE_SYSTEM_TARGET_JZ4770 && !BR2_PACKAGE_SYSTEM_TARGET_CHA && !BR2_PACKAGE_SYSTEM_TARGET_MINI # sync files across multiple systems
	select BR2_PACKAGE_RCLONE			if BR2_x86_64 && !BR2_PACKAGE_SYSTEM_VIRTUAL_TARGET # sync files in the cloud (require x86_64)

	# Additional network drivers (out-of-tree kernel modules)
	select BR2_PACKAGE_REGLINUX_NETWORK_DRIVERS	if !BR2_PACKAGE_SYSTEM_VIRTUAL_TARGET

	# Needed network firmwares
	select BR2_PACKAGE_REGLINUX_NETWORK_FIRMWARES	if !BR2_PACKAGE_SYSTEM_VIRTUAL_TARGET


# TODO this needs serious cleanup especially for recent kernels
config BR2_PACKAGE_REGLINUX_NETWORK_DRIVERS
	bool "REG-Linux network drivers"

	# wireless drivers
	# use the morrownr RTL8812au & RTL8821au drivers
	select BR2_PACKAGE_RTL8812AU		if !BR2_TOOLCHAIN_HEADERS_AT_LEAST_6_14 && !BR2_PACKAGE_SYSTEM_TARGET_ODROIDC5

	select BR2_PACKAGE_RTL8821AU_MORROWNR	if BR2_PACKAGE_SYSTEM_TARGET_S922X || BR2_PACKAGE_SYSTEM_TARGET_A3GEN2
	select BR2_PACKAGE_RTL88X2BU		if BR2_PACKAGE_SYSTEM_TARGET_S922X || BR2_PACKAGE_SYSTEM_TARGET_A3GEN2
	select BR2_PACKAGE_RTL8723BU		if BR2_PACKAGE_SYSTEM_TARGET_S922X || BR2_PACKAGE_SYSTEM_TARGET_A3GEN2
	select BR2_PACKAGE_RTL8188EU		if BR2_PACKAGE_SYSTEM_TARGET_S922X || BR2_PACKAGE_SYSTEM_TARGET_A3GEN2 || BR2_PACKAGE_SYSTEM_TARGET_X86_ANY
	select BR2_PACKAGE_RTL8821CU		if BR2_PACKAGE_SYSTEM_TARGET_A3GEN2
	# TODO rtl8821cu || BR2_PACKAGE_SYSTEM_TARGET_RK3588
	select BR2_PACKAGE_RTL8189ES		if BR2_PACKAGE_SYSTEM_TARGET_S905 || BR2_PACKAGE_SYSTEM_TARGET_S905GEN2 || BR2_PACKAGE_SYSTEM_TARGET_S905GEN3
	select BR2_PACKAGE_RTL8189FS		if BR2_PACKAGE_SYSTEM_TARGET_H3	|| \
						   BR2_PACKAGE_SYSTEM_TARGET_S922X	|| \
						   BR2_PACKAGE_SYSTEM_TARGET_A3GEN2 || \
						   BR2_PACKAGE_SYSTEM_TARGET_X86_ANY


	select BR2_PACKAGE_RTL8192EU		if	!BR2_PACKAGE_SYSTEM_TARGET_JZ4770  && \
							!BR2_PACKAGE_SYSTEM_TARGET_BCM2835 && \
							!BR2_PACKAGE_SYSTEM_TARGET_CHA && \
							!BR2_PACKAGE_SYSTEM_TARGET_ODROIDC5


	select BR2_PACKAGE_RTL8822CS		if BR2_PACKAGE_SYSTEM_TARGET_S905GEN3

	# ethernet
	#select BR2_PACKAGE_R8125		if BR2_PACKAGE_SYSTEM_TARGET_X86_ANY
	#select BR2_PACKAGE_R8168		if BR2_PACKAGE_SYSTEM_TARGET_X86_ANY

	# Qualcomm SDM845 wifi baseband dependencies
	select BR2_PACKAGE_PD_MAPPER		if BR2_PACKAGE_SYSTEM_TARGET_SDM845 || BR2_PACKAGE_SYSTEM_TARGET_SM6115
	select BR2_PACKAGE_QRTR			if BR2_PACKAGE_SYSTEM_TARGET_SDM845 || BR2_PACKAGE_SYSTEM_TARGET_SM6115
	select BR2_PACKAGE_RMTFS		if BR2_PACKAGE_SYSTEM_TARGET_SDM845 || BR2_PACKAGE_SYSTEM_TARGET_SM6115
	select BR2_PACKAGE_TQFTPSERV		if BR2_PACKAGE_SYSTEM_TARGET_SDM845 || BR2_PACKAGE_SYSTEM_TARGET_SM6115


config BR2_PACKAGE_REGLINUX_NETWORK_FIRMWARES
	bool "REG-Linux network firmwares"

	# common firmwares
	select BR2_PACKAGE_UX500_FIRMWARE	if  BR2_x86_64
	select BR2_PACKAGE_WILC1000_FIRMWARE	if !BR2_x86_64
	select BR2_PACKAGE_ZD1211_FIRMWARE	if !BR2_x86_64
	select BR2_PACKAGE_B43_FIRMWARE		if !BR2_x86_64

	# x86 (maybe some firmware could be for all, to be checked)
	select BR2_PACKAGE_WILINK_BT_FIRMWARE			if BR2_x86_64

	# RaspberryPi Firmwares bluetooth and wifi
	select BR2_PACKAGE_BRCMFMAC_SDIO_FIRMWARE_RPI		if BR2_PACKAGE_SYSTEM_TARGET_RPI_ANY
	select BR2_PACKAGE_BRCMFMAC_SDIO_FIRMWARE_RPI_BT	if BR2_PACKAGE_SYSTEM_TARGET_RPI_ANY
	select BR2_PACKAGE_BRCMFMAC_SDIO_FIRMWARE_RPI_WIFI	if BR2_PACKAGE_SYSTEM_TARGET_RPI_ANY
