name: Build Docker Image

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - wip
    paths:
      - 'Dockerfile'

permissions:
  contents: read
  packages: write

jobs:
  build-docker-image:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          file: Dockerfile
          push: true
          tags: ghcr.io/reg-linux/reglinux-build:latest
