[Desktop Entry]
Version=1.0
Icon=/usr/share/icons/reglinux/lime3ds.png
Exec=/usr/bin/batocera-config-lime3ds
Terminal=false
Type=Application
Categories=Game;batocera.linux;
Name=lime3ds-emu-config
